@media screen and (min-width: 320px) {
  body {
    background-color: #191765;
  }

  * {
    margin: 0;
    padding: 0;
  }

  header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
  }

  header a {
    line-height: 16px;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  header nav {
    width: 33.33px;
  }

  nav i:hover {
    cursor: pointer;
    color: #acb7c3;
  }

  section {
    margin: 10px 30px 0 30px;
    display: flex;
    flex-direction: column;
  }

  .developer-title {
    margin: 20px;
    white-space: nowrap;
  }

  .developer-title h1 {
    margin: 1px;
    padding: 10px 0;
    font-size: 48px;
    font-style: bold;
    letter-spacing: 0.37px;
    line-height: 72px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    color: #9490ff;
  }

  .software-developer {
    margin: 1px;
    font-size: 30px;
    line-height: 44px;
    vertical-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
    color: white;
  }

  .banner-text-pera {
    color: #c8c8d4;
    font-style: regular;
    font-size: 20px;
    line-height: 28px;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
  }

  hr {
    border: 1px solid #646369;
    margin: 30px 0;
  }

  .icon {
    text-align: center;
  }

  ul li {
    display: inline-block;
    align-content: center;
  }

  ul a i {
    padding: 10px;
    align-items: center;
    font-size: 25px;
    color: #fff;
  }

  .shining-star {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    left: -96px;
    top: 50px;
    background: #edecff;
    filter: blur(20px);
  }

  .Knowledge {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }

  .Knowledge .shining-star {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 339px;
    top: 510px;
  }

  .Knowledge div {
    width: 50%;
  }

  .Knowledge h4 {
    padding-bottom: 0;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  .Knowledge ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
  }

  .Knowledge li {
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 0;
    text-align: left;
    float: left;
    font-family: 'Roboto', sans-serif;
  }

  .heading {
    color: #9490ff;
  }

  .headinglist {
    color: #edecff;
  }

  .nav-arrow {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .arrow {
    margin: 6px;
    width: 28px;
    height: 20px;
    filter: opacity(1) drop-shadow(0 0 0 #a2a3ae) saturate(300%) contrast(0%) blur(0);
  }

  .works {
    font-size: 20px;
    line-height: 32px;
    color: #a2a3ae;
    text-decoration: none;
  }

  .recent-work-heading {
    font-size: 32px;
    width: 180px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #9490ff;
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto;
    margin: auto;
    gap: 10px;
    width: 327px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .grid-item p {
    color: #dcdce8;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
  }

  .project-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  .btn {
    height: 46px;
    width: 89px;
    background-color: #7d73fc;
    color: white;
    padding: 12px;
    align-items: center;
    font-size: 12px;
    border: none;
    font-family: 'Roboto', sans-serif;
  }

  .lang-list li {
    padding: 10px 20px 0 0;
    padding-bottom: 20px;
    border-right: 1px solid #555;
    height: 20px;
    color: white;
    list-style-type: none;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
  }

  .proj-1 .shining-star {
    position: absolute;
    width: 39.61px;
    height: 482.57px;
    left: -12.04px;
    top: 1440px;
    background-color: #edecff;
    filter: blur(20px);
    transform: rotate(-36.51 deg);
  }

  .proj-2 .shining-star {
    position: absolute;
    width: 70.28px;
    height: 261.6px;
    left: 327.27px;
    top: 2300px;
    background: #edecff;
    filter: blur(23px);
    transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  }

  .proj-3 .shining-star {
    position: absolute;
    width: 308px;
    height: 155px;
    left: -93px;
    top: 3250px;
    background: rgba(237, 236, 255, 0.3);
    filter: blur(21px);
  }

  .proj-4 .shining-star {
    position: absolute;
    width: 101.29px;
    height: 377.04px;
    left: 398.22px;
    top: 3800px;
    background: #edecff;
    filter: blur(21px);
    transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  }
}
